@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.btn-primary {
  position: relative;
  padding: 0.875rem 2rem;
   font-family: "Manrope", sans-serif;
  background: linear-gradient(135deg, #ff0000 0%, #000000 100%);
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05em;

  border-radius: 9999px;
  border: none;
  cursor: pointer;
 transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.btn-secondary {
  position: relative;
  padding: 0.875rem 2rem;
   font-family: "Manrope", sans-serif;
  background: linear-gradient(135deg, #ffff 0%, #d8d8d8 100%);
  color: red;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}
.btn-primary:hover {
 transform: scale(1.05);
   background: linear-gradient(135deg, #000 0%,#ff0000  100%);
}
  .btn-secondary:hover {
  transform: scale(1.05);
   background: linear-gradient(135deg, #d8d8d8 0%,#ffff  100%);
}
.btn-secondary:active,
.btn-primary:active {
  transform: scale(0.95);
}

.heading-bg{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    color: #ff0000;
    background: white;
}


